 body {
  font-family: "Roboto", sans-serif;
  background: #fff;
    color: #434455;
  }
  p {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em; 
  }
nav a, address a, footer a {
 text-decoration: none;
}
ul li {
  list-style-type: none;
}
h1 {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07143;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
}
h2 {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
h3 {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

/* nav */
.address-link {
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.address-link:focus {
  color: #404bbf;
}
.address {
  font-style: normal;
}
.nav-link a {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.nav-link a:hover,
.address-link:hover {
  color: #404bbf;
}
.nav-studio:active,
.nav-studio:focus {
  color: #404bbf;
}
.webstudio {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}
.nav-studio {
  color: #2e2f42;
}

.slogan-title {
  line-height: 1.07;
}
.slogan {
  background: #2e2f42;
  /* width: 1440px; */
    /* height: 600px; */
}
.slogan-button {
  font-family: "Roboto", sans-serif;
  cursor: pointer;
  /* box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15); */
  background: #4d5ae5;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  /* border-radius: 4px; */
  /* padding: 16px 32px; */
  /* width: 169px;
  height: 56px; */
}
.slogan-button:hover,
.slogan-button:focus
 {
  background-color: #404BBF;
}
.our-team-text {
  font-size: 16px;
}

.our-team {
  background-color: #F4F4FD;
}
.our-team-title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  text-transform: capitalize;
}
.our-team-li {
  background-color: #FFFFFF;
}
/* .our-team img {
  width: 264px;
} */


.portfolio-title{
  font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    text-align: center;
    color: #2e2f42;
}
/* .portfolio-title img {
  width: 360px;
} */

/* footer */
footer {
  background-color: #2e2f42;;
}
.footer-text {
  color: #f4f4fd;
}
.footer-studio {
  color: #f4f4fd;
}